[submodule "paulclist.github.io"]
	path = paulclist.github.io
	url = https://github.com/paulclist/paulclist.github.io
	branch = master
[submodule ","]
	path = ,
	url = https://github.com/paulclist/paulclist.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/paulclist/paulclist.github.io.git
	branch = master
